<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="APIRetrieverSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Calculator/services/APIRetriever"
                binding="basicHttpBinding" bindingConfiguration="APIRetrieverSoapBinding"
                contract="ServiceReference1.APIRetriever" name="APIRetriever" />
        </client>
    </system.serviceModel>
</configuration>